/* Inspired from http://codepen.io/mrlowtay/pen/qERPmW/ */

@media screen and (min-width: 37em) {
.cycleColor a{
	animation: ChangeColor 15s linear infinite 0s;
	-ms-animation: ChangeColor 15s linear infinite 0s;
	-webkit-animation: ChangeColor 15s linear infinite 0s;
  color: #fff;
}
.cycleColor a:nth-child(2){
	animation-delay: 3s;
	-ms-animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
.cycleColor a:nth-child(3){
	animation-delay: 6s;
	-ms-animation-delay: 6s;
	-webkit-animation-delay: 6s;
}
.cycleColor a:nth-child(4){
	animation-delay: 9s;
	-ms-animation-delay: 9s;
	-webkit-animation-delay: 9s;
}
.cycleColor a:nth-child(5){
	animation-delay: 12s;
	-ms-animation-delay: 12s;
	-webkit-animation-delay: 12s;
}
}
/*ChangeColor Animation*/
@-moz-keyframes ChangeColor{
	0% { color: #fff; }
	5% { color: #fff; }
	10% { color: #FFDA61; }
	25% { color: #FFDA61; }
	30% { color: #fff; }
	80% { color: #fff; }
	100% { color: #fff; }
}
@-webkit-keyframes ChangeColor{
	0% { color: #fff; }
	5% { color: #fff; }
	10% { color: #FFDA61; }
	25% { color: #FFDA61; }
	30% { color: #fff; }
	80% { color: #fff; }
	100% { color: #fff; }
}
@-ms-keyframes ChangeColor{
	0% { color: #fff; }
	5% { color: #fff; }
	10% { color: #FFDA61; }
	25% { color: #FFDA61; }
	30% { color: #fff; }
	80% { color: #fff; }
	100% { color: #fff; }
}
